*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topmost{
    background-color: aqua;
    height: 25px;

}
.logobar{
    display: inline;
}


.logo2{
    width: 30px;
    height: 30px;
}

.section{
    background-color: blue;
}